﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ApiCallProject.Models.CallModel>
@{
    ViewBag.Title = "Все результаты";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Link</th>
            <th scope="col">Conection Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr scope="row"><td>@item.Id</td><td>@item.Date</td><td>@item.Link</td><td>@item.ConectionTime</td></tr>
        }
    </tbody>
</table>